<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>edit here</h3>
<p> <%=chats.from%> to  <%=chats.to%></p>

<form method="post" action="/chats/<%=chats._id%>?_method=PUT">
    <textarea name="msg" id=""><%= chats.msg %></textarea>
    <button>edit</button>
</form>
</body>
</html>